################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/Cashora.Web/.vs/Cashora.Web
/Cashora.Web/Cashora.Web/bin/Debug/net8.0
/Cashora.Web/Cashora.Web/obj
/.vs
/Cashora.Web/Cashora.Web/Cashora.Web.csproj.user
