################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################


/src/.vs
/src/Cashora.Web/bin
/src/Cashora.Web/obj
/src/Cashora.Web/Cashora.Web.csproj.user
/.vs
/src/Cashora.Repositories/bin
/src/Cashora.Repositories/obj
/src/Cashora.Services/bin
/src/Cashora.Services/obj
